body{
	color: white;
	font-family: cursive;
	background-color:black ;
}
h1{
	font-size: 36pt;
	font-family: verdana,arial;
	text-decoration: underline;
	text-align: center;
	background:teal;
}
p{
	font-size: 12pt;
	font-family: arial,helvetica;
	font-weight: normal;
}